.problemPage {
    background-color: whitesmoke;
    color: black;
    text-align: center;
    border: 1px solid black
}

.problemPage-background {
    height: 18rem;
    border: 1px solid lightblue;
    width: 80%;
    margin: 2rem auto;
    background-color: white;
}

.problemPage-conclusion {
    height: 18rem;
    border: 1px solid lightblue;
    width: 80%;
    margin: 2rem auto;
    background-color: white;
}

.problemPage-switch {
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;
}

.problemPage-switch .button {
    height: 2rem;
    width: 6rem;
    border-radius: 2rem;
    background-color: white;
    margin-bottom: 2rem;
    border: 1px solid lightblue;
    color: lightblue;
    cursor: pointer;
}