.intro {
    background-color: white;
    width: 100%;
    height: 120rem;
    border-radius: 0.5rem;
    color: black;
    font-size: 1.5rem;
}

.dark-intro {
    background-color: black;
    width: 100%;
    height: 120rem;
    border-radius: 0.5rem;
    color: black;
    font-size: 1.5rem;
}

.intro-banner {
    background-image: url("../../../public/Assets/Images/banner.jpg");
    background-size: cover;
    height: 40rem;
    width: 100%;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dark-intro-banner {
    background-image: url("../../../public/Assets/Images/dark-banner.jpg");
    background-size: cover;
    height: 40rem;
    width: 100%;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.intro-banner-text {
    text-align: center;
    width: 40%;
    margin-left: 5rem;
}

.intro-information {
    border: 1px solid #5CE0FB;
    border-radius: 0.5rem;
    width: 90%;
    height: 30rem;
    background-color: white;
    margin: 2rem auto;
    color: black;
}

.dark-intro-information {
    border: 1px solid white;
    border-radius: 0.5rem;
    width: 90%;
    height: 30rem;
    background-color: #151c21;
    margin: 2rem auto;
    color: white;
}

.intro-plu {
    height: 40rem;
    width: 90%;
    border: 1px solid black;
    margin: 4rem auto;
    background-image: url("../../../public/Assets/Images/plu.png");
    background-size: cover;
}

.intro-plu-info {
    text-align: center;
    font-size: 0.7rem;
    width: 30%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 0.5rem;
}

.img-weather {
    height: 6rem;
    width: auto;
}

::marker {
    color: lightblue;
}